/*
* @subsection   RD Navbar
*
* @description  Describes style declarations for RD Navbar extension
*/
@import "../_variables.scss";
@import "../_mixins.scss";

$rd-navbar-accent-color: #fff;
$rd-navbar-accent-color-2: rgb(46, 204, 113);

$rd-navbar-submenu-bg: darken($white, 10%);

$rd-navbar-shadow-ambient: 0 0 2px 0 rgba(0, 0, 0, .25);
$rd-navbar-shadow-medium: 0 3px 5px 0 rgba(0, 0, 0, .25);
$rd-navbar-shadow-large: 0 5px 8px 0 rgba(0, 0, 0, .25);

%rd-navbar-transition {
    transition: .3s all cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
@mixin rd-navbar-transition() {
    transition: .3s all cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
%rd-navbar-hidden {
    display: none;
}

%rd-navbar-visible {
    display: block;
}

.rd-navbar--no-transition {
    &, * {
        transition: none !important;
    }
}

.rd-navbar-wrap {
    @extend %rd-navbar-transition;
}

.rd-navbar.rd-navbar--is-clone {
    @extend %rd-navbar-hidden;
}

.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
    @extend %rd-navbar-visible;

    .block {
        margin: 0;
    }
}

.rd-navbar-static {
    background: $content-bg;
    .rd-navbar-nav-wrap {
        width: 100%;
    }

    &.rd-navbar--is-clone {
        @extend %rd-navbar-transition;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        @include transform(translateY(-105%));
        z-index: 20;

        .rd-navbar-panel {
            display: none;
        }

        &.rd-navbar--is-stuck {
            @include transform(translateY(0));
        }
    }

    &.rd-navbar--is-stuck {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 20;
        background: $header-bg;

        .rd-navbar-panel {
            display: none;
        }

        .page-header__panel,
        .page-header__content {
            display: none;
        }
    }
}

@import "rd-navbar_components/_rd-navbar-toggles.scss";
@import "rd-navbar_components/_rd-navbar-nav.scss";
@import "rd-navbar_components/_rd-navbar-brand.scss";
@import "rd-navbar_components/_rd-navbar-cart.scss";
@import "rd-navbar_components/_rd-navbar-panel.scss";
@import "rd-navbar_components/_rd-navbar-search.scss";
@import "rd-navbar_components/_rd-navbar-collapse.scss";


.navigation .container {
    position: relative;
    @media (min-width: $screen-lg-min) {
        .row {
            margin-left: -20px;
            margin-right: -20px;
        }
        [class*='col-'] {
            padding-left: 20px;

            padding-right: 20px;
            position: relative;
        }
    }
    @media (min-width: $screen-xl-min) {
        .row {
            margin-left: -45px;
            margin-right: -45px;
        }
        [class*='col-'] {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
    @media (min-width: $screen-sm-min) {
        [class*='col-'] {
            border-right: 1px solid $theme-line-1;
            &:last-child {
                border: 0;
            }
        }
    }
}

.layout_2 {
    .navigation {
        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
            width: 100%;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .rd-navbar-static {
        .rd-navbar-fixed & {
            height: 50px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
        }
        .container {
            position: relative;

        }
    }
    .rd-navbar-nav > li.parent {
        > ul.level0:not(.rd-navbar-dropdown) {
            position: absolute;
            z-index: 80;
            background: $bg-light;
            text-align: left;
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
            @include transform(translateY(30px));
        }

        &:hover {
            > ul.level0:not(.rd-navbar-dropdown) {
                opacity: 1;
                visibility: visible;
                @include transform(translateY(0));
            }
        }

        li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            > a {
                display: inline-block;
                font-size: 12px;
                line-height: 20px;
                &:before {
                    font-family: $linearicons-icon;
                    content: "\e93c";
                    font-size: 10px;
                    float: left;
                    padding-right: 10px;
                    margin-top: -1px;
                }
            }
        }
    }

    .rd-navbar-subpanel {
        display: table;
    }

    .rd-navbar-outer .rd-navbar-inner {
        position: relative;
    }

    .rd-navbar-dropdown,
    .rd-navbar-megamenu {
        position: absolute;
        background: $bg-light;
        text-align: left;
        opacity: 0;
        visibility: hidden;
        transition: .3s ease;
        box-shadow: $theme-shadow;
        @include transform(translateY(30px));

        li.focus > a,
        li.opened > a,
        a:hover {
        }
    }
    .rd-navbar-dropdown {
        padding: 26px 30px;
    }

    .rd-navbar-dropdown {
        width: 270px;
        @media (max-width: $screen-md-min - 1) {
            width: 208px;
        }
    }

    .rd-navbar-megamenu {
        left: 15px;
        right: 15px;
        padding: 50px 35px;
        @media (min-width: $screen-xl-min) {
            left: 25px;
            right: 25px;
        }

        > li {
            display: table-cell;
        }
    }
    .level-top.bg-wrap + .rd-navbar-megamenu {
        @media (min-width: $screen-sm-min) {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-image: url("../images/bg-menu.jpg");
                background-repeat: no-repeat;
                background-position: top right;
                background-size: contain;
                @media (max-width: $screen-lg-min - 1) {
                    opacity: 0.3;
                }
            }
        }
    }

    .rd-navbar-nav {
        display: block;
        text-align: right;
        @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
            text-align: center;
            border-top: 1px solid $theme-line-1;
            padding-top: 22px;
            margin-top: 27px;
            position: relative;
        }

        li {
            &.parent > a {
                span:after {
                    font-family: $linearicons-icon;
                    content: "\e93a";
                    font-size: 10px;
                    float: right;
                    padding-left: 5px;
                }

                &.level-top:before {
                    right: 1px;
                    margin-top: -9px;
                }
            }

            &.rd-navbar--has-dropdown {
                position: relative;
            }

            &.rd-navbar--has-megamenu > a {
                position: relative;
            }

            &.focus,
            &.opened {
                > .rd-navbar-dropdown, > .rd-navbar-megamenu {
                    opacity: 1;
                    visibility: visible;
                    @include transform(translateY(0));
                }
            }
        }
        > li.parent > a span:before {
            font-size: 14px;
        }
        > li {
            display: inline-block;
            margin: 0 16px;
            @media (max-width: $screen-xl-min - 1) {
                margin: 0 10px;
            }

            > .rd-navbar-dropdown,
            > .rd-navbar-megamenu {
                top: 50px;
                z-index: 1;
            }
            > .rd-navbar-megamenu {
                top: 71px;
            }

            > .rd-navbar-dropdown {
                left: 0;
                margin-top: 5px;
                @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
                    margin-top: 0;
                }

                .rd-navbar-dropdown {
                    left: 110%;
                    top: -25px;
                    z-index: 2;
                }
            }

            > a {
                display: block;
                font-weight: 600;
                text-transform: uppercase;
                position: relative;
                letter-spacing: 0.02em;
                @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
                    font-size: 13px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 4px;
                    left: 50%;
                    bottom: -34px;
                    transition: all 0.3s ease;
                    z-index: 20;
                    @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min - 1) {
                        bottom: -22px;
                    }
                }
            }
            &.opened > a,
            &.focus > a,
            > a:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
    .layout_2 {
        .rd-navbar-megamenu {
            left: 0;
            right: 0;
        }
    }
}

.sidebar .navigation li.level0 {
    a.level-top {
        padding: 10px;
    }
}

@media (max-width: $screen-sm-min - 1) {

    .navigation li.level-top,
    .navigation a.level-top {
        position: relative;
    }
    .mm-submenu {
        .mm-submenu {
            padding-left: 15px;
        }
    }

    .rd-navbar-megamenu {
        .container,
        .row,
        [class*="col-"] {
            padding: 0;
            margin: 0;
            max-width: inherit;
            min-width: inherit;
        }
    }
}
